/*
*
********* normal.css provides a basic website layout **********
*
*
* * It uses the CSS3 idea of defined sections, and uses "DIV Container or Main"
* ** as a container element.
*
 * style.css provides overwite of Bootstrap frameworks
 *
 * It uses the CSS3 idea of defined sections, and uses "main"
 * as a container element.
 * 
 * @author Zia Ahmed <zia.ahmed@me.com>
 * @version 08-12-2014, 06:15h
 * @copyright 2014 Four Oaks Tandoori
 *
*/
.black{
	background-color: black;
}
.red{
	background-color: red;
}

.green{
	background-color: green;
}

.yellow{
	background-color: yellow;
}

.orange{
	background-color: orange;
}

.blue{
	background-color: blue;
}







/* general CSS style throught all the site */
.top10{
	margin-top: 10px;
}

.top20{
	margin-top: 20px;
}







/* main bode style */


body { 
	/*margin-bottom: 90px; */
 	font-family: 'Raleway', sans-serif;
 	margin: 200px 0 0px 0;
 	background-color: #c7c5c5;
}





/* menu design */

.logo{
	width: 100%;
}

.logo img{
	width: 100%;
}



.text_center {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
   } 
 
.text_center li {
    float: none;
    display: inline-block;
    text-align: center;
}

.tel{
	font-size: 2.1em;
}

.restName{
	font-size: 3em;
}







/* footer design */

.footer_bakg{
	background-color: #f0f0f0;
}

.bottom_space{
	margin-bottom: 50px;
}



bottom_margin{
	margin-bottom: 50px;
}









/* index page design */

.welcome_image{
	width: 100%;
	border-radius: 10px;
	height: 200px;
}

.welcome_image img{
	width: 100%;
}





/* welcome image in the index page */
.chef_img{
	width: 95%;
	height: 200px;
	border-radius: 80%;
}

.bottom_space div{
	margin-left: 30px;
	text-align: justify;
}




/* slider image design in the index page*/

.slider{
	width: 100%;
	
}

.slider img{
	width: 100%;
}

.carousel-inner img{
	width: 100%;
	border-radius: 20px;
}



.carousel-control.right {
    background-image: red;
    left: auto;
    right: 0;
}

.carousel-control.right{
	
	background-image: linear-gradient(to right, rgba(0,0,0,0) 0px, rgba(0,0,0,0)100%);
}


.carousel-control.left{
	
	background-image: linear-gradient(to left, rgba(0,0,0,0) 0px, rgba(0,0,0,0)100%);
}


/* about page design */
.abt_image img{
	border-radius: 40px;
}


/* contcat page design */
.googleMap{
	width: 100%;
}



.botm10{
	padding-bottom: 10px;
}

.tel{
	font-family: cursive;
	font-size: 3em;
}
	
	
.menu{
	margin-top: 50px;
}
	
.opening_time{
	text-align: right;
}


.social_icons_size {
	width: 7%;
	height: 35px;
	margin-top: 5px;
}

.social_icons_size img{
	
	width: 100%;
}

.social_icons_size img: hover{
	border: 10px solid red;
}



.googleMap{
	width: 100%;
	margin-bottom: 5%;
}

.ma_bottom{
	margin-bottom: 50px;
}









/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	.tel{
		font-family: cursive;
		font-size: 2em;
	}
	
	.menu{
		margin-top: -0px;
	}
	
	.slider{
		margin-top: -110px;
	}
	
	h3, span{
		display: none;
	}
	
	.opening_time{
		margin-top: 20px;
		text-align: center;
	}
	
	.time_title{
		font-size: 2em;
	}
	
	.chef_img, .image_text{
		margin-left: -30px;
	}
	
	.social_icons_size{
		width: 15%;
		margin-left: 7%;
	}
	
	.footer_top{
		margin-top: 5%;
	}
	
	
}


/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	
	.tel{
		font-family: cursive;
		font-size: 3em;
	}
	
	.menu{
		margin-top: -20px;
	}
	
	.footer_top{
		margin-top: 5%;
	}
	
	
	
}


/* Macbook Air [portrait + landscape] */
@media only screen and (min-device-width: 900px) and (max-device-width: 1440px) {
	.rest_name_tel{
		margin-left: 2%;
	}
	
	.tel{
		font-family: cursive;
		font-size: 3em;
	}
	
	.menu{
		margin-top: 40px;
	}
	
	.slider{
		margin-top: -30px;
	}
	

}

/* iMac [portrait + landscape] */
@media only screen and (min-device-width: 1080px) and (max-device-width: 1920px) {
	.text_justity{
		text-align: left;
	}
	
	.welcome_image{
		width: 80%;
		margin-left: -0px;
	}
	
	
}









  